<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>

<body>
    There once was a {{ madlib_color }} {{ madlib_noun }} sitting in the Hackbright Lab. When {{ madlib_person }} went to pick it up, it burst into flames in a totally {{ madlib_adj }} way.

    Ever wanted to know the {{ real_or_fake }} facts about what your favorite celebs are up to? Find out here.

    It appears that {{ celebrity1 }} has been seeing {{ celebrity2 }} behind {{ celebrity3 }}'s back. They were seen holding {{ plural_body_part }} in the {{ place }} Wednesday morning when they exchanged {{ plural_noun }}. Is it a marriage proposal or just friends {{ verb_ing }} around?
</body>

</html>